body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;        
}
div{
    box-sizing: border-box;
}
.container{
    width: 1173px;
    margin: 0 auto;
}
header{
    margin: 0;
    height: 100vh;
    background: url(../img/home.png) no-repeat center top ;
    background-size:100%;           
}

#menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 38px 200px;
    z-index: 2;
    display: block;       
}
#menu.white{
   background: white;
}

#menu.white a{
    color: black;
}
#menu .logo {
    float: left;
}
#menu .logo img{
    height: 40px;    
}
#menu ul{
    float: right;
    margin: 0;
    padding: 0;           
}
#menu li{
    list-style: none;
    display: inline-block;    
}
#menu a{
line-height: 40px;
color: white;
padding: 5px 30px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
text-decoration: none;

}
#menubut{
    display: none;
}
.title h1{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 264px;
    font-weight:bold;
}

#p1{
    text-align: center;
    color: white;
    font-family: Playfair Display;
    font-weight:bolder;
    font-size: 48px;
}
#span1{
    font-style: italic;
    text-align: center;
    color: white;
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 50px;
    text-transform: inherit;
}
.bottom{
   width: 55px;
   margin: 0 auto;
   padding-top: 140px;   
}
h2{
    margin: 0;
    padding: 0;
    margin-top: 90px;
    text-align: center;
    font-size: 40px;
    font-family: Playfair Display;
    font-weight: bolder;    
}
h3{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px;
}
.sgine{
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 74px;
    display:block;
}
.part2{
    height: 256px;
    background: url(../img/patternbg.png);
}
#table1{
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    overflow: hidden;
    border-spacing:80px;
}
h4{
    margin: 0 ;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-family: Playfair Display;
    font-weight: bolder;
    margin-top: 90px;
}
#p2{
    margin: 0 ;
    padding: 0;
    text-align: center; 
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px;
    margin-top: 30px;
}
#table2{
    padding-top: 60px;
    margin: 0 auto;
    border-spacing: unset;
    margin-bottom: 185px;     
}
#table2 td{
padding: 0;
border: 0;
width: 370px;
}
#table2 tr{
    height: 370px;
}
a{
    text-decoration: none;
}

.dark{
    margin: 0;
    height: 370px;
    background: black;
    opacity: 0.8;
    display: none;
}
h5{
    text-align: center;
    margin: 0;
    padding-top:40%;
    font-size: 30px;
    font-family: Playfair Display;
    font-weight: bold;
    color: white;   
}
span{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.part3{
    height: 483px;
    background: url(../img/patternbg.png);
}

.owl-carousel p{
    margin: 0;
    margin-bottom: 105px;
    margin-top: 178px;
    padding: 0;
    font-size: 29px;
    color: white;
    font-family: Playfair Display;
    font-style: italic;
    text-align: center;    
}
#span3{
   color: white;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   font-style: initial;   
}

.owl-dots.owl-dot span{
  display: inline;
  text-align: center;  
}
part4{
    height: 200px;
    padding: 0;
    margin: 0;
}
.slide-two{
    padding: 0;
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}
.part5{
height: 980px;
background: #fafafa;
}
#h2{
    padding-top: 90px;
}
.block1{
    height: 434px;
    width: 342px;
    background: white;
    margin: 0;
}
.post{
    position: relative;    
}
.button{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: 89px;
    height: 29px;
    color: white;
    background: #252525;
    text-align: center;
    font-size: 12px;
    padding-top:10px;
   margin-top: -55px;
   margin-left: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
}
.text{
    margin-top: 10px;
    margin-left: 10px;
}
.paragraph{
    font-family: Playfair Display;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;    
}
h6{       
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px;
    margin-left: 22px;
}
.slide-three{
    width: 1110px;
    margin: 0 auto;
    margin-top: 70px;
}

.part6{
    height: 600px;
    background: #f6f6f6;
}
.contact{
    padding: 0;
    padding-top: 100px;
    width: 1110px;
    margin: 0 auto;
}
h7{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: Playfair Display;
    font-weight: bolder;
}
#p3{
    padding: 10px 0;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px
}
.contactInfo{
    float: left;
    display: block;
}
.address ul{
    padding: 0;
    margin: 0;
}
.address li{
    list-style-type: none;    
}
.address #p4{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;    
}
.address #p4 span{
    text-transform: inherit;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px 
}
form{
    float: right;
    display: block;
}
#name{
    margin: 0;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.2;
    width: 284px;
    height: 50px;
    padding: 0 16px ;
    background: white;
    border: none;
    margin-left: 22px;  
}

#title{
    margin: 0;
    width: 626px;
    height: 50px;
    padding: 0 16px ;
    margin-left: 22px;
    margin-top: 30px;
    background: white;
    border: none;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.2;    
}
textarea{
    width: 626px;
    overflow: auto;
    padding: 0 16px ;
    margin-left: 22px;
    margin-top: 30px;
    background: white;
    border: none;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.2;    
}
textarea::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 16px;
    font-weight: 400;    
}
.btn{
    margin-left: 22px;
    margin-top: 30px;
    width: 164px;
    height: 54px;
    background:black;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}
footer{
    margin: 0;
    padding: 0;
    height: 200px;
    background: #ebebeb;
}
.soc{    
    padding: 0;
    padding-top: 45px; 
    display: block;    
}
.foot{
margin: 0 auto;
padding: 0;
display: block;
margin-bottom: 20px;
width: 190px;
}

.foot li{   
  display: inline;    
  margin: 0 auto;       
}

.foot a{ 
  opacity: 0.5;
  text-align: center;
  padding: 5px;
}
h8{
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color:black;
    opacity: 0.5;
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px;
    text-align: center;       
}


/************************Adapt design320*********************/

@media(min-width:0px) and (max-width:320px) and (orientation : portrait){
header{
    background-size: cover;
    background-position: center;
}
#menu{
    padding: 10px 20px;
    height: 70px;
}
#menu ul {
    display: none;
}
#menu a{
    padding: 0;
}
.logo{
    padding: 0;
}
#menu .logo img {
    height: 30px;
}
#menubut{
    display: block;
    float: right;
    padding-top: 5px;
}
.title h1{
    padding-top: 120px;
}
#p1{    
    font-size: 36px;
}
#span1 {
    font-size: 37px;
}
.bottom {
    padding-top: 0px;
}
h2 {
    margin-top: 50px;
    font-size: 30px;
}
h3 {
    font-size: 14px;
}
.sgine {
    padding-bottom: 50px;
}
.part2{
    height: 300px;
}
#table1{
    border-spacing: 28px;
}
#table1 td{
   display: block;
   padding: 5px 5px;
}
h4 {
    font-size: 30px;
    margin-top: 50px;
}
#p2{
    font-size: 14px;  
}
#table2 {
    padding-top: 50px;
    margin-bottom: 50px;
}
#table2 td{
    width:90px;
}
#table2 tr{
    height:90px;
}
.dark{
    height:90px;
    width:90px;  
}
h5 {
    padding-top: 20%;
    font-size: 14px;
}
span {
    font-size: 10px;
}
.part3 {
    height: 350px;
}
.owl-carousel p {
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 22px;
}
.slide-two {
    width: 270px;
    padding-top: 50px;
    overflow:hidden; 
}
#h2{
margin-top: 0;
padding-top: 50px;
}
.part5 {
    height: 750px;
}
.slide-three{
    overflow: hidden;
    margin-top: 50px;
    width: 270px;
}
.block1 {
    width: 270px;
}
.post{
    height: 150px;
}
.paragraph{
    margin-left: 0;
}
.part6{
    overflow: hidden;
    height: 850px;
}
.contact {
    padding-top: 50px;
    width: 100%;
}
h7 {
    font-size: 30px;
}
#p3 {
    font-size: 10px;
}
.address #p4 {
    font-size: 13px;
}
.address #p4 span{
    font-size: 13px;
}
form{
    float: none;
}

#name {
    display: block;
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
}
#title {
    display: block;
    margin: 0;
    width: 100%;
}
textarea {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
.btn {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
    font-size: 15px;
}
h8 {
    font-size: 13px;
}
}

/************************Adapt design480*********************/
@media(min-width:321px) and (max-width:480px) and (orientation : portrait){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 10px 20px;
        height: 70px;
    }
    #menu ul {
        display: none;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 30px;
    }
    #menubut{
        display: block;
        float: right;
        padding-top: 5px;
    }
    .title h1{
        padding-top: 150px;
    }
    #p1{    
        font-size: 36px;
    }
    #span1 {
        font-size: 37px;
    }
    .bottom {
        padding-top: 40px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 28px;
    }
    #table1 td{
       display: block;
       padding: 5px 5px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    #table2 td{
        width:100px;
    }
    #table2 tr{
        height:100px;
    }
    .dark{
        height:100px;
        width:100px;  
    }
    h5 {
        padding-top: 20%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 60px;
        font-size: 22px;
    }
    .slide-two {
        width: 295px;
        padding-top: 70px;
        overflow: hidden;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 270px;
    }
    .block1 {
        width: 300px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 850px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 280px;
        margin: 0 auto;
    }
    h7 {
        font-size: 30px;
    }
    #p3 {
        font-size: 10px;
    }
    .address #p4 {
        font-size: 13px;
    }
    .address #p4 span{
        font-size: 13px;
    }
    form{
        float: none;
        width: 280px;
        margin: 0 auto;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 260px;
    }
    #title {
        display: block;
        margin: 0;
        width: 260px;
    }
    textarea {
        width: 260px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .btn {
        margin-left: 0px;
        margin-top: 20px;
        width: 290px;
        font-size: 15px;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }
}

/************************Adapt design768*********************/

@media(min-width:481px) and (max-width:768px) and (orientation : portrait){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 10px 20px;
        height: 70px;
    }
    #menu ul {
        display: none;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 30px;
    }
    #menubut{
        display: block;
        float: right;
        padding-top: 5px;
    }
    .title h1{       
    padding-top: 250px;
    }
    #p1{    
        font-size: 36px;
    }
    #span1 {
        font-size: 37px;
    }
    .bottom {
        padding-top: 120px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 28px;
    }
    #table1 td{
       display: block;
       padding: 5px 5px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 70px;
    }
    #table2 td{
        width:150px;
    }
    #table2 tr{
        height:150px;
    }
    .dark{
        height:150px;
        width:150px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 65px;
        font-size: 23px;
    }
    .slide-two {
        width: 450px;
        padding-top: 70px;
        overflow: hidden;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 460px;
    }
    .block1 {
        width: 220px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 850px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 280px;
        margin: 0 auto;
    }
    h7 {
        font-size: 30px;
    }
    #p3 {
        font-size: 10px;
    }
    .address #p4 {
        font-size: 13px;
    }
    .address #p4 span{
        font-size: 13px;
    }
    form{
        float: none;
        width: 280px;
        margin: 0 auto;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 260px;
        max-width: 0 auto;
    }
    #title {
        display: block;
        margin: 0;
        width: 260px;
    }
    textarea {
        width: 260px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .btn {
        margin-left: 0px;
        margin-top: 20px;
        width: 290px;
        font-size: 15px;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }   
}

/************************Adapt design768*********************/

@media(min-width:769px) and (max-width:922px) and (orientation : portrait){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 10px 20px;
        height: 70px;
    }
    #menu ul {
        display: none;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 40px;
    }
    #menubut{
        display: block;
        float: right;
        padding-top: 5px;
        height: 35px;
    }
    .title h1{       
    padding-top: 250px;
    }
    #p1{    
        font-size: 36px;
    }
    #span1 {
        font-size: 37px;
    }
    .bottom {
        padding-top: 120px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 28px;
    }
    #table1 td{
       display: block;
       padding: 5px 5px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    #table2 td{
        width:245px;
    }
    #table2 tr{
        height:245px;
    }
    .dark{
        height:245px;
        width:245px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 130px;
        font-size: 23px;
    }
    .slide-two {
        width: 700px;
        padding-top: 70px;
        overflow: hidden;
        padding-bottom: 15px;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 760px;
    }
    .block1 {
        width: 220px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 600px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 310px;
        float: left;
        margin-left: 30px;
    }
    h7 {
        font-size: 40px;
    }
    #p3 {
        font-size: 14px;
    }
    .address #p4 {
        font-size: 13px;
    }
    .address #p4 span{
        font-size: 13px;
    }
    form{
        float: none;
        width: 310px;
        margin: 0 auto;
        float: right;
        padding-right: 30px;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 280px;
    }
    #title {
        display: block;
        margin: 0;
        width: 280px;
    }
    textarea {
        width: 280px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .btn {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 20px;
        width: 310px;
        font-size: 15px;
        float: none;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }      
}

/************************Adapt design1200*********************/

@media(min-width:993px) and (max-width:1200px) and (orientation : portrait){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 40px 40px;
        height: 100px;
    }
    #menu ul {
        margin-top: 5px;
        display: flex;
    }
    #menu ul li{
    padding-left: 30px;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 40px;
    }
    #menubut{
    display: none;
    }
    .title h1{       
    padding-top: 250px;
    }
    #p1{    
        font-size: 45px;
    }
    #span1 {
        font-size: 45px;
    }
    .bottom {
        padding-top: 120px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 0px;
        padding-top: 130px;
        
    }
    #table1 td{
       display: inline;
       padding: 0px 20px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    #table2 td{
        width:245px;
    }
    #table2 tr{
        height:245px;
    }
    .dark{
        height:245px;
        width:245px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 130px;
        font-size: 23px;
    }
    .slide-two {
        width: 700px;
        padding-top: 70px;
        overflow: hidden;
        padding-bottom: 15px;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 930px;
    }
    .block1 {
        width: 270px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 600px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 400px;
        float: left;
        margin-left: 30px;
    }
    h7 {
        font-size: 40px;
    }
    #p3 {
        font-size: 14px;
    }
    .address #p4 {
        font-size: 14px;
    }
    .address #p4 span{
        font-size: 14px;
    }
    form{
        float: none;
        width: 400px;
        margin: 0 auto;
        float: right;
        padding-right: 30px;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 370px;
    }
    #title {
        display: block;
        margin: 0;
        width: 370px;
    }
    textarea {
        width: 370px;
        margin-left: 0px;
        margin-top: 0px;
        cursor: pointer;
    }
    .btn {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 20px;
        width: 200px;
        font-size: 15px;
        float: none;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }      
}
/************************Adapt design480 landspace********************/
@media(min-width:480px) and (max-width:768px) and (orientation : landscape){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 10px 20px;
        height: 70px;
    }
    #menu ul {
        display: none;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 30px;
    }
    #menubut{
        display: block;
        float: right;
        padding-top: 5px;
    }
    .title h1{       
    padding-top: 80px;
    }
    #p1{    
        font-size: 36px;
    }
    #span1 {
        font-size: 37px;
    }
    .bottom {
        padding-top: 0px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 28px;
    }
    #table1 td{
       display: block;
       padding: 5px 5px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 70px;
    }
    #table2 td{
        width:150px;
    }
    #table2 tr{
        height:150px;
    }
    .dark{
        height:150px;
        width:150px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 65px;
        font-size: 23px;
    }
    .slide-two {
        width: 450px;
        margin-top:10px;
        overflow: hidden;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 460px;
    }
    .block1 {
        width: 220px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 850px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 280px;
        margin: 0 auto;
    }
    h7 {
        font-size: 30px;
    }
    #p3 {
        font-size: 10px;
    }
    .address #p4 {
        font-size: 13px;
    }
    .address #p4 span{
        font-size: 13px;
    }
    form{
        float: none;
        width: 280px;
        margin: 0 auto;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 260px;
        max-width: 0 auto;
    }
    #title {
        display: block;
        margin: 0;
        width: 260px;
    }
    textarea {
        width: 260px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .btn {
        margin-left: 0px;
        margin-top: 20px;
        width: 290px;
        font-size: 15px;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }   
}


/************************Adapt design769 landspace********************/
@media(min-width:769px) and (max-width:922px) and (orientation : landscape){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 10px 20px;
        height: 70px;
    }
    #menu ul {
        display: none;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 40px;
    }
    #menubut{
        display: block;
        float: right;
        padding-top: 5px;
        height: 35px;
    }
    .title h1{       
        padding-top: 120px;
    }
    #p1{    
        font-size: 36px;
    }
    #span1 {
        font-size: 37px;
    }
    .bottom {
        padding-top: 120px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 28px;
    }
    #table1 td{
       display: block;
       padding: 5px 5px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    #table2 td{
        width:245px;
    }
    #table2 tr{
        height:245px;
    }
    .dark{
        height:245px;
        width:245px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 130px;
        font-size: 23px;
    }
    .slide-two {
        width: 700px;
        padding-top: 70px;
        overflow: hidden;
        padding-bottom: 15px;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 760px;
    }
    .block1 {
        width: 220px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 600px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 310px;
        float: left;
        margin-left: 30px;
    }
    h7 {
        font-size: 40px;
    }
    #p3 {
        font-size: 14px;
    }
    .address #p4 {
        font-size: 13px;
    }
    .address #p4 span{
        font-size: 13px;
    }
    form{
        float: none;
        width: 310px;
        margin: 0 auto;
        float: right;
        padding-right: 30px;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 280px;
    }
    #title {
        display: block;
        margin: 0;
        width: 280px;
    }
    textarea {
        width: 280px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .btn {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 20px;
        width: 310px;
        font-size: 15px;
        float: none;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }      
}

/************************Adapt design769 landspace********************/
@media(min-width:923px) and (max-width:1200px) and (orientation : landscape){
    header{
        background-size: cover;
        background-position: center;
    }
    #menu{
        padding: 40px 40px;
        height: 100px;
    }
    #menu ul {
        margin-top: 5px;
        display: flex;
    }
    #menu ul li{
    padding-left: 30px;
    }
    #menu a{
        padding: 0;
    }
    .logo{
        padding: 0;
    }
    #menu .logo img {
        height: 40px;
    }
    #menubut{
    display: none;
    }
    .title h1{       
    padding-top: 190px;
    }
    #p1{    
        font-size: 45px;
    }
    #span1 {
        font-size: 45px;
    }
    .bottom {
        padding-top: 70px;
    }
    h2 {
        margin-top: 50px;
        font-size: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .sgine {
        padding-bottom: 50px;
    }
    .part2{
        height: 300px;
    }
    #table1{
        border-spacing: 0px;
        padding-top: 130px;
        
    }
    #table1 td{
       display: inline;
       padding: 0px 20px;
    }
    h4 {
        font-size: 30px;
        margin-top: 50px;
    }
    #p2{
        font-size: 14px;  
    }
    #table2 {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    #table2 td{
        width:245px;
    }
    #table2 tr{
        height:245px;
    }
    .dark{
        height:245px;
        width:245px;  
    }
    h5 {
        padding-top: 30%;
        font-size: 14px;
    }
    span {
        font-size: 10px;
    }
    .part3 {
        height: 350px;
    }
    .owl-carousel p {
        margin-bottom: 30px;
        margin-top: 130px;
        font-size: 23px;
    }
    .slide-two {
        width: 700px;
        padding-top: 70px;
        overflow: hidden;
        padding-bottom: 15px;
    }
    #h2{
    margin-top: 0;
    padding-top: 50px;
    }
    .part5 {
        height: 750px;
    }
    .slide-three{
        overflow: hidden;
        margin-top: 50px;
        width: 930px;
    }
    .block1 {
        width: 270px;
    }
    .post{
        height: 150px;
    }
    .paragraph{
        margin-left: 0;
    }
    .part6{
        overflow: hidden;
        height: 600px;
    }
    .contact {
        padding-top: 50px;
        width: 100%;
    }
    .contactInfo {
        float: none;
        display: block;
        width: 400px;
        float: left;
        margin-left: 30px;
    }
    h7 {
        font-size: 40px;
    }
    #p3 {
        font-size: 14px;
    }
    .address #p4 {
        font-size: 14px;
    }
    .address #p4 span{
        font-size: 14px;
    }
    form{
        float: none;
        width: 400px;
        margin: 0 auto;
        float: right;
        padding-right: 30px;
    }
    
    #name {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        width: 370px;
    }
    #title {
        display: block;
        margin: 0;
        width: 370px;
    }
    textarea {
        width: 370px;
        margin-left: 0px;
        margin-top: 0px;
        cursor: pointer;
    }
    .btn {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 20px;
        width: 200px;
        font-size: 15px;
        float: none;
    }
    h8 {
        font-size: 13px;
    }
    .foot {
        width: 116px;
    }
    .foot ul{
        padding-inline-start: 0px;
    }      
}
    








